.login__enter {
  width: 358px;
  height: 17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
border: none;
  text-align: center;

  color: #ffffff;
  margin-bottom: 80px;
}

.login__flex {
  display: flex;
}
