.card__trash {
  background-image: url(../../../images/Trashbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 19px;
  background-color: transparent;
  width: 18px;
  height: 19px;
  position: absolute;
  border: none;
  margin-left: auto;
  cursor: pointer;
  right: 20px;
  top: 20px;
}

.card__trash:hover {
  opacity: 0.6;
  transition: 0.3s;
}
