.card {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative;
}
.card:hover {
  cursor: pointer;
}

@media screen and (max-width: 910px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 260px;
  }
}

@media screen and (max-width: 320px) {
  .card {
    max-width: 282px;
  }
}

.test {
  border: 2px solid red;
  min-height: 60px;
  min-width: 60px;
  margin: auto;
  margin-bottom: 10px;
}



.test_button {

}
